__pycache__/
.ipynb_checkpoints/
*.egg-info/

bld/
dask-worker-space/
_build/
src/exploration/estimation/
.tox/
.vscode/

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.synctex.gz
*.nav
*.pdf
*.snm
*.toc
*.bib.bak

.pytask.sqlite3


*.sublime-project
*.sublime-workspace

src/presentation_notebooks/heterogeneity/homogenous_n_contacts/
src/presentation_notebooks/heterogeneity/heterogeneous_n_contacts/
src/exploration/*/*.parquet


*.idea/
src/manfred/convergence_plot.png
src/manfred/constrained_convergence_plot.png
