__pycache__/
.ipynb_checkpoints/
*.egg-info/
src/_version.py

bld/
dask-worker-space/
build/
src/exploration/estimation/
.tox/
.vscode/

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.synctex.gz
*.nav
*.snm
*.toc
*.bib.bak
.sid/
*.bib.sav

.pytask.sqlite3


*.sublime-project
*.sublime-workspace

*.idea/

src/presentation_notebooks/heterogeneity/homogenous_n_contacts/
src/presentation_notebooks/heterogeneity/heterogeneous_n_contacts/
src/exploration/*/*.parquet

*.idea/
src/manfred/*.png
src/original_data/population_structure/microcensus2010_cf.dta

*/*/Untitled.ipynb
Untitled.ipynb
